@media (prefers-color-scheme: dark) {
    *{ color: #ffffff }
    .contextMenu{
        background-color: #1f1f1f;
    }
    .messageElement, .callRequestElement, .photoElement {
        color: #ffffff;
        background-color: var(--theme-color-dark);
    }
    .Button{ filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(109%) contrast(109%) }
    .header{ background-color: #191919 }
    #msg-container{ background-color: #000000ad }
    #msg-container::-webkit-scrollbar-track { background-color: #000000 }
    #msg-container::-webkit-scrollbar-thumb { background: var(--theme-color) }
    #msg-container::-webkit-scrollbar-thumb:hover { background: var(--theme-color-light) }

    #send-container{ background-color: #191919 }
}