.modalBackGround{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.hideModal{
    display: none !important;
}

.modalContentsContainer{
    padding: 1em;
    position: fixed;
    height: 85vh;
    width: 85vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    z-index: 2;
}

.modalContentsContainer video{
    aspect-ratio: 1/1;
    width: 50%;
    border: 1px solid #ffffff;
    margin: 5px;
    border-radius: 1rem;
    object-fit: cover;
}

.modalContentsContainer .videoContainer{
    display: flex;
    flex-direction: row;
}

.modalContentsContainer .callControls{
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    height: 15vh;
}
.modalContentsContainer .callControls img{
    cursor: pointer;
    aspect-ratio: 1/1;
}