@font-face {
    font-family: "AnandaNamasteRegular";
    src: url('./AnandaNamasteRegular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    --theme-color: #d544fc;
    --theme-color-light: #ffb0f7;
    --theme-color-dark: #6c1d82;
    --background-image: url('./../imgs/backgrounds/bg-raimond-klavins-Ql6JhGdbQg0-unsplash.jpg');
}

a{ color: #0000ff }

.hide{ display: none !important }

.contextMenu{
    position: absolute;
    font-size: 1.5rem;
    border-radius: 7.5px;
    background-color: #ffffff;
    z-index: 5;
}

.contextMenu .contextMenuElement{
    padding: 0.5rem;
    min-height: 2rem;
    cursor: pointer;
}

.contextMenu .contextMenuElement:hover{
    background-color: #00000055;
}

.namasteTextLogo{
    font-family: 'AnandaNamasteRegular';
    color: inherit;
    text-align: center;
}

#activeUsersListContainer{
    position: absolute;
    left: -100vw;
    bottom: 0;
    top: 0;
    width: 90vw;
    overflow-y: scroll;
    color: #ffffff;
    background-color: #000000f0;
    transition: 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
    z-index: 1;
}
.activeUsersListContainer-open{ left: 0 !important }

#activeUsersListContainer .toprow{
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #000000;
}

#activeUsersListContainer img{
    height: 4.5vh;
    cursor: pointer;
    aspect-ratio: 1/1;
}

#activeUsersListContainer h1{
    flex: 1;
    text-align: center;
    color: #fff;
}

#activeUsersListContainer::-webkit-scrollbar { width: 15px }
#activeUsersListContainer::-webkit-scrollbar-track { background-color: #00000000 }
#activeUsersListContainer::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    cursor: pointer;
}
#activeUsersListContainer::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color-dark);
    cursor: pointer;
}

#activeUsers{
    table-layout: fixed;
    border-collapse: collapse;
    font-size: medium;
    border-top: 2px solid #ffffff;
    width: 100%;
}

#activeUsers tbody{
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

#activeUsers thead tr{
    color: #000000;
    background-color: #ffffff;
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

#activeUsers th{ color: #000000 }

#activeUsers th, #activeUsers td{
    vertical-align: text-top;
    padding: 0.5rem 1rem;
}

#activeUsers tbody tr{
    border-bottom: 1px solid #afafaf;
}

#settingsContainer{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: -100vw;
    overflow-y: scroll;
    color: #ffffff;
    background-color: #000000;
    transition: 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
    z-index: 1;
}
.settingsContainer-open{ left: 0 !important }

#settingsContainer .toprow{
    margin: 1em;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#settingsContainer .toprow img{
    height: 4.5vh;
    cursor: pointer;
    aspect-ratio: 1/1;
}
#settingsContainer .toprow h1{ font-size: xx-large }

#settingsContainer::-webkit-scrollbar { width: 15px }
#settingsContainer::-webkit-scrollbar-track { background-color: #00000000 }
#settingsContainer::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    cursor: pointer;
}
#settingsContainer::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color-dark);
    cursor: pointer;
}

.mainview{
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    background: var(--background-image)
}

.header{
    margin-top: 10px;
    padding: 0 1rem 0 1rem;
    width: calc(100% - 20px);
    border-radius: 1.5rem 1.5rem 0 0;
    min-height: 7.5vh;
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.header img{
    margin: 0 0.5rem 0 0.5rem;
    max-height: 5vh;
    cursor: pointer;
    aspect-ratio: 1/1;
    transition: 250ms;
}

.rotateOnHover:hover{
    transform: rotate(30deg);
    transition: 250ms;
}

#msg-container{
    padding-top: 15px;
    width: calc(100% - 20px);
    flex: 1;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #ffffffad;
    overflow-y: scroll;
}
#msg-container::-webkit-scrollbar { width: 15px }
#msg-container::-webkit-scrollbar-track { background-color: #ffffff }
#msg-container::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    cursor: pointer;
}
#msg-container::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color-dark);
    cursor: pointer;
}

#send-container{
    margin-bottom: 10px;
    width: calc(100% - 20px);
    border-radius: 0 0 1.5rem 1.5rem;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

#txt-msg-box{
    margin: 1rem;
    font-size: xx-large;
    min-width: 200px;
    flex: 1;
    border: none;
    background: none;
    border-bottom: 2px solid #aeaeae;
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
}

#txt-msg-box:focus {
    border: none;
    border-bottom: 3px solid #000000;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#send-container > input[type="image"], #send-container img{
    margin: 1rem;
    height: 5vh;
    cursor: pointer;    
    aspect-ratio: 1/1;
}

#send-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.messageElement, .callRequestElement, .photoElement{
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: x-large;
    background-color: var(--theme-color-light);
    min-height: 2rem;
    max-width: 69%;
    width: fit-content;
    width: -moz-fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-user-select: text;
    user-select: text;
    box-sizing: content-box;
}

.messageElement span, .callRequestElement span, .photoElement span{
    color: var(--theme-color-dark);
    cursor: pointer;
}

.messageElement hr{ border-color: #000000 }
.photoElement hr { border-color: #00000000 }

.messageElement p{
    white-space: break-spaces;
    overflow-y: auto;
    overflow-x: hidden;
}

.messageElement::-webkit-scrollbar { height: 3.5px }
.messageElement::-webkit-scrollbar-track { background: #00000000 }
.messageElement::-webkit-scrollbar-thumb { background: var(--theme-color); border-radius: 1rem; }
.messageElement::-webkit-scrollbar-thumb:hover { background: var(--theme-color-dark) }

.callRequestElement div{
    display: flex;
    align-items: center;
}
.callRequestElement div img{
    height: 2.5rem;
    aspect-ratio: 1/1;
}
.callRequestElement div button{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: large;
    outline: none;
    border: 2.5px solid var(--theme-color-dark);
    transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.callRequestElement div button:hover{
    color: #ffffff;
    background-color: var(--theme-color-dark);
    transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.callRequestElement div button:disabled{
    cursor: not-allowed;
    background-color: #575757;
    opacity: 0.75;
    color: #ffffff;
}

.photoElement img{
    width: fit-content;
    object-fit: contain;
    border-radius: 0.5rem;
}